.app-footer {
  background: #0a0a0a;
  margin-top: 6rem;
}

.links-wraooer {
  padding: 1rem 5rem;
}

.thumbnails-wrapper {
  background: #383838;
  padding: 2rem 5rem 4rem 5rem;
}

.information-wrapper {
  color: #666;
  font-size: 0.8rem;
  line-height: 1.6rem;
  padding: 1rem 5rem;
}
