body {
  background: #181818;
  color: #ddddaa;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
}

.app-header {
  display: flex;
  align-items: last baseline;
  margin-bottom: 1rem;
}

.site-description {
  color: #444411;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;  
}
