body {
  background: #181818;
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
}

a, a:visited {
  color: #864c14;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

.app-header {
  display: flex;
  align-items: last baseline;
  margin-bottom: 1rem;
}

.site-description {
  color: #444411;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;  
}
