.card-generic {
  width: 200px;
  /* background-color: #222; */
}

.card-generic-author {
  margin: 0rem;
  padding: 0rem;
  font-size: 0.9rem;
}

.card-generic-author-low-contrast {
  color: #333322;
}

.card-generic-body {
  margin: 0rem;
  padding: 0rem;
}

.card-generic-body-low-contrast {
  color: #444;
}

.card-generic-image {
  margin: 0rem;
  padding: 0rem;
}

.card-generic-headline h2 {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.card-generic-headline-density-default h2 {
  margin-bottom: 0rem;
}

.card-generic-headline-density-compressed h2 {
  margin-bottom: -0.5rem;
} 

.card-generic-headline a {
  text-decoration: none;
}

.card-generic-headline a:visited {
  text-decoration: none;
}

.card-generic-headline a:focus {
  text-decoration: none;
  outline: none;
}

.card-generic-headline a:hover {
  text-decoration: none;
}

.card-generic-headline a:active {
  text-decoration: none;
}

.card-generic-headline-default a {
  color: #cc6600;
}

.card-generic-headline-default a:visited {
  color: #cc6600;
}

.card-generic-headline-default a:focus {
  color: #ffffff;
}

.card-generic-headline-default a:hover {
  color: #ffffff;
}

.card-generic-headline-default a:active {
  color:#ffffff;
}

.card-generic-headline-low-contrast a {
  color: #444;
}

.card-generic-headline-low-contrast a:visited {
  color: #444;
}

.card-generic-headline-low-contrast a:focus {
  color: #ffffff;
}

.card-generic-headline-low-contrast a:hover {
  color: #ffffff;
}

.card-generic-headline-low-contrast a:active {
  color:#ffffff;
}

.card-generic-date {
  margin: 0rem;
  padding: 0rem;
  font-size: 0.9rem;
}

.card-generic-date-default {
  color: #555544;
}

.card-generic-date-low-contrast {
  color: #333322;
}

p {
  margin-bottom: 1rem;
}
