.home-view {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.links-wrapper {
  display: flex;
  column-gap: 5rem;
  background: #0a0a0a;
  margin-top: 6rem;
  padding: 1rem 5rem;
}

.arrow-left {
  width: 0;
  height: 0;
  border-right: 1.5rem solid #444;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}

.arrow-left:hover {
  width: 0;
  height: 0;
  border-right: 1.5rem solid #fff;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}
