h2 {
  color: #383838;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.list-links a, .list-links a:visited {
  color: #383838;
  text-decoration: none;
}

.list-links a:hover {
  color: #fff;
}

.list-links a:active {
  color: #fff;
}

ol {
  color: #383838;
  font-family: 'Arial Narrow';
  padding-left: 1.25rem;
}

ol li {
  margin-bottom: 0.25rem;
}