.post-panel {
  background: #181818; 
}

.post-panel-headline {
  font-weight: 400;
  margin-top: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.post-panel-headline a {
  color: #ffff00;
  text-decoration: none;
}

.post-categories p {
  display: inline;
  text-transform: uppercase;
}

.post-categories ul {
  margin-left: 0.25rem;
  padding-left: 0rem;
  list-style-type: none;
  display: inline-flex;
  text-transform: capitalize;
}

.post.category ~ .post-category::before {
  content: ', ';
}

.attribute-name {
  font-weight: 700;
  text-transform: uppercase;
}